{%extends 'base.html'%}
{% block contents%}

<div class="container">
    <div class="card-deck">

        {% for blog in blogs.all %}
        <div class="card">
            <div class="card-body">
                <a href="{% url 'more' blog.id %}">
                    <h4>{{ blog.title }}</h4>
                </a>
                <p class="card-text">{{ blog.pub_date.year }}.{{ blog.pub_date.month }}.{{ blog.pub_date.day }}
                </p>
            </div>
            <div class="card-footer">
                <small class="text-muted">{{ blog.summary }}<a href="{% url 'more' blog.id %}">....more</a></small>
            </div>
        </div>
        {% endfor %}

    </div>
</div>
{% endblock %}
<!-- 
for문에서 blog는 인자가 어떤걸 받아서 for blog라고 썻는지 모르는데 이거만 인강으로 살펴보자 다른
모델링 부분은 다 이해함! -->