{%extends 'base.html'%}
{% block contents%}

<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }
</style>

<main role="main">

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">♡오늘도 강아지♡</h1>
            <p class="font-weight-bold">이 카페는 자기의 강아지를 소개하고 자랑하는 공간입니다~~~~~!!<br>강아지도 하나의 생명체이므로
                배려심과 매너를 지켜주시기 바랍니다.많은 댓글과 관심 부탁드립니다♡♡♡♡
            </p>
            <p>
                <a href="{% url 'home' %}" class="btn btn-primary my-2">홈</a>
                <a href="{% url 'detail' %}" class="btn btn-secondary my-2">꿀팁 게시판</a>
            </p>
        </div>
    </section>
    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">

                {% for portfolio in portfolios.all %}
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="{{portfolio.image.url}}" height=300>
                        <div class="card-body">
                            <p class="card-text">{{portfolio.title}}</p>
                            <p class="card-text">{{portfolio.description}}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                {%endfor%}

            </div>
        </div>
    </div>

</main>

<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <a href="/">Back to top</a>
        </p>
        <p>연락처:010-XXXX-XXXX 주소:명지대학교 자연캠퍼스</p>
        <p>더 자세한 내용은 <a href="https://www.facebook.com/likelionatmju/?ref=bookmarks/">여기에</a> </p>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="/docs/4.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o"
    crossorigin="anonymous"></script>
</body>

</html>



{% endblock %}